.side-bar {
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  position: absolute;
  bottom: 5%;
}

.side-bar button {
  width: 50px;
  aspect-ratio: 1;
  border: 1px solid;
  border-radius: 30px;
  margin-inline: 15px;
  background-color: transparent;
  font-size: 20px;
}

.side-bar button:hover {
  font-size: 25px;
  width: 60px;
  transition: width 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.side-bar button:active {
  width: 55px;
}

.side-bar .like {
  color: rgb(126, 255, 212);
  border-color: rgb(126, 255, 212);
}

.side-bar .dislike {
  color: rgb(255, 126, 126);
  border-color: rgb(255, 126, 126);
}

.side-bar .like:active {
  background-color: rgb(126, 255, 212);
  transition: background-color 0.2s ease-in-out;
}

.side-bar .dislike:active {
  background-color: rgb(255, 126, 126);
  transition: background-color 0.2s ease-in-out;
}