.profile-input-area {
    width: 90%;
}

.profile-input-area h2 {
    background-color: #d3b7d8;
    border-radius: 5px;
    border: #d3b7d8 solid 1px;
    font-size: 15px;
    color: #fff;
    padding: 2%;
}

.profile-input-area input {
    background-color: transparent;
    width: 100%;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3px 0;
    text-indent: 0px;
    margin: 3px 0;
    letter-spacing: 2px;
}

.profile-input-area input:focus {
    color: #a262ad;
    outline: none;
    border-bottom: 1px solid #a262ad;
    transition: 0.5s;
}

.profile-input-area input:focus:placeholder {
    opacity: 0;
}