.menu-bar{
    display: flex;
    align-items: center;
    background-color: #d3b7d8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform-style: preserve-3d;
    height: 40px;
    margin-bottom: 20px;
}

.menu-bar button{
    background-color: transparent;
    height: 20px;
    border: none;
    margin-inline: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}

.menu-bar button:hover{
    text-shadow: 2px 2px 5px #fff;
    transition: text-shadow 0.5s ease-in-out;
}

.menu-bar button:active{
    color:#a262ad
}

.profile-button{

}

.setting-button{
    
}

.logout-button{

}