.menu-bar {
    display: flex;
    width: min(80vw, 400px);
    align-items: center;
    justify-content: center;
    background-color: #d3b7d8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-block: 5px;
}

.menu-bar .button {
    text-decoration: none;
    background-color: transparent;
    height: 100%;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 5px;
    font-size: 90%;
}

.menu-bar .button:hover {
    text-shadow: 2px 2px 5px #a262ad;
    transition: text-shadow 0.5s ease-in-out;
}

.menu-bar .button.active {
    color: #d3b7d8;
    text-shadow: 1px 1px 1px #a262ad;
    background-color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}