.welcome-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3b7d8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-block: 5px;
    padding: 10px;
}

.welcome-bar h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

.welcome-bar p{
    margin-inline: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.profile-input-area {
    width: 90%;
}

.profile-input-area h2 {
    font-size: 15px;
    color: #d3b7d8;
}

.profile-input-area input {
    background-color: transparent;
    width: 100%;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3px 0;
    text-indent: 0px;
    margin: 3px 0;
    letter-spacing: 2px;
}

.profile-input-area input:focus {
    color: #a262ad;
    outline: none;
    border-bottom: 1px solid #a262ad;
    transition: 0.5s;
}

.profile-input-area input:focus:placeholder {
    opacity: 0;
}

.submit-button {
    position: absolute;
    width: 50%;
    margin-top: 3%;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    bottom: 5%;
}

.submit-button:hover {
    background-color: #d3b7d8;
    color: #fff;
  }