.welcome-bar {
    width: min(80vw, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3b7d8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-block: 5px;
}

.welcome-bar h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

.welcome-bar p{
    margin-inline: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.page-bar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-bar button {
    width: 50%;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 3% 5%;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    bottom: 5%;
    margin: 5% 2% 5% 2%;
}

.page-bar button:hover {
    background-color: #d3b7d8;
    color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    cursor: pointer;
  }

.skip{
    text-transform: uppercase;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5%;
    margin-bottom: 5%;
    color: #d3b7d8;
}

.skip:hover{
    color: #a262ad;
    transition: color 0.5s ease-in-out;
}